.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .topLeft {
    align-self: flex-start;
  }
  
  .topRight {
    align-self: flex-end;
  }
  
  .center {
    align-self: center;
  }
