.cardContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  line-height: 0.4;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f9f9f9;
  width: 90%;
  }
  
  .textContainer{
    margin-left: 40px;
    width: 50%;
    height: 50%;
    margin-bottom: 15px;

  }
  .runtime, .premiered, .rating{
    font-size: 16px;
  }
  .name{
    font-size: 20px;
  }

  
  .buttonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin-right: 10px;
  }
  
  .image {
    width: 90px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .seriesDetail {
    margin-bottom: 5px;
  }
  
  .checkbox{
    width: 30px;
    height: 30px;
  }

  /* Pour les écrans jusqu'à 780px de largeur */
  @media (max-width: 780px) {
    .cardContainer {
      width: 78%;
    }
  
    .textContainer {
      width: 100%;
    }
  
    .buttonContainer {
      justify-content: center; 
    }
  
    .image {
      margin-right: 0; /
    }
  }
  
  @media (min-width: 781px) and (max-width: 1280px) {
    .searchInput {
      width: 79%; 
      padding: 15px; 
    }
  
    .line {
      width: 85%; 
    }
  }