.myListContainer {
    margin-top: 70px;
    margin-right : 120px;
    border: 1px solid black;
    width: 650px;
    height: 420px;
    border-radius: 8px;
    overflow-y: scroll;
  }
  
  .title {
    margin-top: 0;
  }
  
  .seriesList {
    list-style: none;
    padding: 0;
  }
  
  .seriesItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .seriesName {
    font-weight: bold;
  }