.searchBar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

  }
  
  .input {
    width: 75%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    padding: 20px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .results {
    list-style-type: none;
    padding: 0;
  }
  
  .results li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .popoverContent{
    width: 650px;
    height: 450px;
  }
  .likedMoviesContainer{
    width: 600px;
    height: 100px;
  }