
.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
  width: 95%;
  height: 95%;
}
.backgroundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: #183c63d8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  }
  

.layoutContainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}
  .searchContainer {
      display: flex;
      flex-direction: column;
      width: 46%;
      height: 400px;
      margin-bottom: 20px;
      border: 1px solid black;
      overflow-y: auto; 
      background-color: #f9f9f9;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    }
  .searchTitle, .listTitle{
    font-weight: 200;
    margin-left: 20px;
  }
  .line{
    border: 0.01px solid rgba(0, 0, 0, 0.432);
    margin-left: 20px;
    margin-top: -10px;
    width: 91%;
  }

  .myListContainer {
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 400px;
    margin-left: 50px;
    border: 1px solid black;
    overflow-y: auto; 
    background-color: #f9f9f9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  }

  .randomSeriesContainer {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 250px;
    border: 1px solid black;
    margin-top: 20px;   
    background-color: #f9f9f9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  }

  .searchInput {
    width: 85%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Styliser le placeholder */
.searchInput::placeholder {
  color: #888; 
  font-size: 16px;

}  
  .button {
    padding: 20px 20px;
    background-color: #183c63d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .results {
    list-style-type: none;
    padding: 0;
  }
  
  .results li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .seriesCardContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    line-height: 0.4;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .checkbox {
    margin-left: 10px;
  }
  
  .randomButton {
    background-color: #183c63;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  .randomButton:hover {
    background-color: #183c638a;
  }
  .randomSeriesCard {
    width: 40%;
  }
  .randomButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50%;
    height: 100%;
  }
  .randomCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow-y: auto;
  }

@media (max-width: 780px) {
  .myListContainer,
  .searchContainer
  {
    width: 95%;
  }
  .myListContainer{
    margin: 0;
  }
  .layoutContainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .randomSeriesContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%

  }
  .randomButtonContainer{
    margin-top: 15px;
    height: 20%
  }
  .randomButton {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
  }
  .randomCardContainer{
    align-items: center;
    overflow-x: none;
    overflow-y: none;
    width: 100%;
    height: 100%;

  }
  .searchInput {
    width: 78%; 
    padding: 15px; 
    font-size: 14px; 
  }

  .line {
    width: 83%; 
  }
}

@media (min-width: 781px) and (max-width: 1280px) {
  .searchInput {
    width: 79%; 
    padding: 15px; 
  }

  .line {
    width: 85%; 
  }
}